<!DOCTYPE html>
{% load static %}
<html class="has-sidemenu" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->

        {% block title %} {% endblock %}



    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" type="image/x-icon" href="{% get_media_prefix %}{{ top_page.logo_head }}">
    <link rel="manifest" href="{% static 'home/assets/img/favicons/manifest.json' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->

    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'home/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/loaders.css/loaders.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="{% static 'home/assets/css/theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'home/assets/css/user.min.css' %}" rel="stylesheet" />
  </head>
        {% block body %} {% endblock %}

 <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'home/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'home/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'home/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'home/vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'home/vendors/bigpicture/BigPicture.js' %}"></script>
    <script src="{% static 'home/vendors/progressbar/progressbar.min.js' %}"></script>
    <script src="{% static 'home/vendors/rellax/rellax.min.js' %}"> </script>
    <script src="{% static 'home/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'home/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'home/vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'home/vendors/gsap/gsap.js' %}"></script>
    <script src="{% static 'home/vendors/gsap/customEase.js' %}"></script>
    <script src="{% static 'home/vendors/gsap/drawSVGPlugin.js' %}"></script>
    <script src="{% static 'home/vendors/typed.js/typed.js' %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122907869-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-122907869-1');
    </script>
    <script src="{% static 'home/assets/js/theme.js' %}"></script>

</html>