<!DOCTYPE html>
{% load static %}
<html class="has-sidemenu" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->

        {% block title %} {% endblock %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" type="image/x-icon" href="{% get_media_prefix %}{{ top_page.logo_head }}">
    <link rel="manifest" href="{% static 'home/assets/img/favicons/manifest.json' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->

    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'home/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendors/loaders.css/loaders.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="{% static 'home/assets/css/theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'home/assets/css/user.min.css' %}" rel="stylesheet" />
  </head>

  <body class="overflow-hidden-x">

      <nav class="fancynavbar fancynavbar-expand-lg" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-37},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-trigger="scroll" data-exclusive="true">
          <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in">
            <a class="fancynavbar-brand" href="{% url 'home' %}">
                <img class="fancynavbar-brand-img" src="{% get_media_prefix %}{{ top_page.logo_main }}"  alt="" width="100" height="100" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"/>
            </a>
            {% block fancy_navbar_toggler%} {% endblock %}
            <div class="fancynavbar-addon fancynavbar-addon-height" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">

            <a class="fancynavbar-addon-item" href="#languageModal" data-bs-toggle="modal">
              <span class="font-sans-serif ls fw-black fs--1 d-block">EN</span>
            </a>
          </div>
          </div>
          {% block fancy_navbar_collapse %} {% endblock %}
      </nav>


      <!-- ===============================================-->
      <!--    Main Content-->
      <!-- ===============================================-->
      {% block main_content %} {% endblock %}
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->


      <!--===============================================-->
      <!--    Footer-->
      <!--===============================================-->
      <footer class="footer bg-black text-600 py-4 font-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-2 position-relative">
              <a class="indicator indicator-up" href="#top">
                <span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span>
                <span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span>
              </a>
            </div>

            <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
              <p class="fs--1 text-uppercase ls fw-bold mb-0">COPYRIGHT©  <strong><a class="text-600" href="{{footer.made_by_link}}">{{footer.made_by}}</a></strong></p>
            </div>

          </div>
        </div>
      </footer>

      <!--===============================================-->
      <!--    Modal for language selection-->
      <!--===============================================-->
      <!-- Modal-->
      <div class="overflow-hidden">
        <div class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">
            <div class="modal-content bg-black">
              <div class="modal-body text-center p-0"><button class="btn-close text-white position-absolute top-0 end-0 times-icon mt-2 me-2 p-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <ul class="list-unstyled my-0 py-4 font-sans-serif">
                  <li><a class="text-white fw-bold pt-1 d-block" href="../homes/default.html">English</a></li>
                  <li><a class="pt-1 d-block text-500" href="#!">Français</a></li>
                  <li><a class="text-500 pt-1 d-block" href="../pages/rtl.html">عربى</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>


 <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'home/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'home/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'home/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'home/vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'home/vendors/bigpicture/BigPicture.js' %}"></script>
    <script src="{% static 'home/vendors/progressbar/progressbar.min.js' %}"></script>
    <script src="{% static 'home/vendors/rellax/rellax.min.js' %}"> </script>
    <script src="{% static 'home/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'home/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'home/vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'home/vendors/gsap/gsap.js' %}"></script>
    <script src="{% static 'home/vendors/gsap/customEase.js' %}"></script>
    <script src="{% static 'home/vendors/gsap/drawSVGPlugin.js' %}"></script>
    <script src="{% static 'home/vendors/typed.js/typed.js' %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics-->
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-122907869-1');
    </script>
    <script src="{% static 'home/assets/js/theme.js' %}"></script>

</html>