{% extends "en-us/home/base.html" %}
{% load static %}



    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    {% block title %}

         <title>{{ top_page.head_title }} |  {{ top_page.head_text }}</title>

    {% endblock %}

    {% block body %}

        <body class="overflow-hidden-x">

          <nav class="fancynavbar fancynavbar-expand-lg" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-37},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-trigger="scroll" data-exclusive="true">
            <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in">
                <a class="fancynavbar-brand" href="{% url 'home' %}">
                    <img class="fancynavbar-brand-img" src="{% get_media_prefix %}{{ top_page.logo_main }}"  alt="" width="100" height="100" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"/>

               </a>
              <div class="fancynavbar-toggler">
                <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
                  <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
                  <path id="path-middle" d="M20,32h30"></path>
                  <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
                </svg>
              </div>
              <div class="fancynavbar-addon fancynavbar-addon-height" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
                <a class="fancynavbar-addon-item" href="#!">
                  <span class="fab fa-twitter"></span>
                </a>
                <a class="fancynavbar-addon-item" href="#languageModal" data-bs-toggle="modal">
                  <span class="font-sans-serif ls fw-black fs--1 d-block">EN</span>
                </a>
              </div>
             </div>
            <div class="fancynavbar-collapse">
                <ul class="fancynavbar-nav">
                  <li class="fancynav-item" data-one-page="data-one-page"><a class="fancynav-link" href="#defaultWhyUs"><span class="fancynav-link-content">why us</span></a></li>
                  <li class="fancynav-item" data-one-page="data-one-page"><a class="fancynav-link" href="#defaultServices"><span class="fancynav-link-content">services</span></a></li>
                  <li class="fancynav-item" data-one-page="data-one-page"><a class="fancynav-link" href="#defaultProgressbar"><span class="fancynav-link-content">performance</span></a></li>
                  <li class="fancynav-item" data-one-page="data-one-page"><a class="fancynav-link" href="#defaultPartners"><span class="fancynav-link-content">partners</span></a></li>
                  <li class="fancynav-item" data-one-page="data-one-page"><a class="fancynav-link" href="#defaultProjects"><span class="fancynav-link-content">our projects</span></a></li>
                  <li class="fancynav-item" data-one-page="data-one-page"><a class="fancynav-link" href="{% url 'contact-us' %}?init=True"><span class="fancynav-link-content">contact</span></a></li>
                </ul>
            </div>
          </nav>


          <!-- ===============================================-->
          <!--    Main Content-->
          <!-- ===============================================-->


          <main class="main min-vh-100" id="top">

            <!-- ============================================-->
            <!-- Preloader ==================================-->
            <div class="preloader" id="preloader">
              <div class="loader">
                <div class="line-scale-pulse-out-rapid">
                  <div> </div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div> </div>
                </div>
              </div>
            </div><!-- ============================================-->
            <!-- End of Preloader ===========================-->
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-0 overflow-hidden bg-white" data-zanim-timeline='{"delay";:0.4}'>
              <div class="container-fluid">
                <div class="devices-wrapper">
                  <div class="macbook-1" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}' style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="3" src="{% get_media_prefix %}{{ top_page.macbook_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="ipad--l-1" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="3.8" src="{% get_media_prefix %}{{ top_page.ipad_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="iphone-1" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}' style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="4.8" src="{% get_media_prefix %}{{ top_page.iphone_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="ipad--l-2" data-zanim-xs= '{"delay":0.5,"animation":slide-left,"duration":1.5}' style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="3.4" src="{% get_media_prefix %}{{top_page.ipad_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="iphone-2" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}' style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="4" src="{% get_media_prefix %}{{ top_page.iphone_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="macbook-2" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'  style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="5" src="{% get_media_prefix %}{{ top_page.macbook_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="ipad--l-3" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'  style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="3.7" src="{% get_media_prefix %}{{top_page.ipad_image}}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="ipad--p-1" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'  style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="4.8" src="{% get_media_prefix %}{{ top_page.ipad_image }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="iphone-3" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'  style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="3" src="{% get_media_prefix %}{{ top_page.iphone_image  }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="iphone-4" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'  style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="3" src="{% get_media_prefix %}{{ top_page.iphone_image  }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                  <div class="iphone--l-1" data-zanim-xs='{"delay":0.5,"animation":slide-left,"duration":1.5}'  style="transform: translate(0px, 0px); opacity: 1;"><img class="device" data-parallax="data-parallax" data-rellax-speed="2" src="{% get_media_prefix %}{{top_page.macbook_image  }}" alt="" style="transform: translate3d(0px, 0px, 0px);"></div>
                </div>
                <div class="row py-8 min-vh-100 align-items-center">
                  <div class="col-md-auto px-md-4 ps-md-8">

                    <h1 class="display-4 fs-2 fs-sm-4 fs-md-5">
                      <span class="overflow-hidden d-inline-block pb-2">
                        <span class="d-inline-block" data-zanim-xs='{"delay":1}' style="transform: translate(0px, 0px); opacity: 1;">{{ top_page.company_name}}</span>
                      </span>
                    </h1>

                    <div class="overflow-hidden">
                      <p class="mt-3 mt-sm-4 font-sans-serif lead" data-zanim-xs='{"delay":1.2}' style="transform: translate(0px, 0px); opacity: 1;">{{ top_page.company_slogan}}</p>
                    </div>

                    <div class="mt-3 mt-sm-5">
                      <a class="btn btn-dark btn-sm me-2 my-2" href="{% url 'contact-us' %}?init=True" data-offset="60" data-zanim-xs='{"delay":1.3}' style="transform: translate(0px, 0px); opacity: 1;">Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>

            </section>
            <!-- <section> close ============================--><!-- ============================================-->

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-6 py-md-8 " id="defaultWhyUs" >
              <div class="container">
                <div class="row flex-center">
                  <div class="col-12 mb-2 mb-lg-5 text-center">
                    <h2 class="fs-3 fs-sm-4"><span class="text-decoration-underline" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">why matromatic?</span></h2>
                  </div>
                </div>
                <div class="row flex-center">
                  <div class="col-sm-8 col-lg-4 text-lg-end mt-5 mt-lg-0 pe-lg-3 pe-xl-4">
                    <div class="overflow-hidden">
                      <p class="fs-italic lead" data-zanim-xs='{"delay";:0.2}' data-zanim-trigger="scroll">{{content.company_description}}</p>
                    </div>
                  </div>
                  <div class="col-sm-8 col-lg-4 mt-4 mt-lg-0 px-lg-4"><img class="w-100 rounded" src="{% get_media_prefix %}{{ content.why_us_photo }}" alt="" data-zanim-xs='{"animation":"zoom-out","delay":0.1}' data-zanim-trigger="scroll" /></div>
                  <div class="col-sm-8 col-lg-4 mt-5 mt-lg-0 ps-lg-3 ps-xl-4">
                    <div class="overflow-hidden">
                      <h4 class="mb-3" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">bootstrap 5 + much more</h4>
                    </div>
                    <div class="overflow-hidden">
                      <p data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">{{content.why_us_raison}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="text-center py-8 py-md-11 overflow-hidden" id="defaultVideo">
              <div class="bg-holder" style="background-image:url({% get_media_prefix %}{{ content.main_background_image }});" data-parallax="" data-rellax-percentage="0.5" data-rellax-speed="-3"></div>
              <!--/.bg-holder-->
              <div class="container-fluid">
                <a class="text-white" href="#!" data-bigpicture='{"ytSrc":"{{ content.why_us_video_src }}"}'>
                    <svg class="mx-auto d-block" width="100" height="100" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier"}' data-zanim-svg-trigger="scroll">
                    <defs>
                      <style>
                        .play-path {
                          fill: none;
                          stroke: #ffffff;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 12px;
                        }
                      </style>
                    </defs>
                    <g>
                      <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
                    </g>
                  </svg>
                    <span class="h4 mt-3 text-white" data-zanim-xs='{"from":{"letter-spacing":"0.2em","opacity":0},"to":{"letter-spacing":0,"opacity":1},"delay":0.8}' data-zanim-trigger="scroll">watch the reel</span>
              </a>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <!-- our services begin-->
            <section id="defaultServices">
              <div class="container">
                <div class="row justify-content-center gy-4 gx-lg-4">
                  <div class="col-12 mb-3 mb-md-5 text-center">
                    <h2 class="fs-3 fs-sm-4">
                      <span class="text-decoration-underline">powerful inside.</span>
                    </h2>
                  </div>
                  {% for service in services%}
                      <div class="col-lg-5">
                           <div class="d-flex" id="bootstrap5" data-zanim-trigger="scroll" data-zanim-timeline="{}">
                              <div class="overflow-hidden">
                                <img class="me-3 me-sm-4" src="{% get_media_prefix %}{{ service.icon }}" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
                              <div class="flex-1">
                                <div class="overflow-hidden">
                                  <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{service.service_title}}</h4>
                                </div>
                                <div class="overflow-hidden">
                                  <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{service.service_description}}</p>
                                </div>
                              </div>
                            </div>
                        </div>
                  {% endfor %}

                </div>
              </div><!-- end of .container-->
            </section>
            <!--our services end-->

            <!-- ============================================-->
            <!-- our process begin-->
            <section class="border-top" id="defaultProcess">
              <div class="container">
                <div class="row justify-content-center text-center mb-6">
                  <div class="col-lg-6">
                    <h2 class="fs-3 fs-sm-4 text-decoration-underline mb-3">our process</h2>
                    <p class="text-500 fst-italic">{{content.our_process_intro}}</p>
                    <hr class="hr-short mt-5" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 ps-lg-7">
                      <div class="row align-items-end">
                        <div class="col-lg-6 order-lg-2 text-center">
                          <img class="img-fluid" src="{% get_media_prefix %}{{ content.step_one_photo }}" alt="" width="400" />
                        </div>
                        <div class="col-lg-6 border-lg-start border-lg-bottom pb-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
                          <div class="process-item ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">01</span>
                            <h3>{{content.step_one_title}}</h3>
                            <p>{{content.step_one_description}}</p>
                          </div>
                        </div>
                     </div>
                    <div class="row">
                      <div class="col-lg-6 border-lg-end border-lg-bottom text-center py-lg-8">
                        <img class="img-fluid" src="{% get_media_prefix %}{{ content.step_tow_photo }}" alt="" width="400" />
                      </div>
                      <div class="col-lg-6 mt-4 mb-8 my-lg-8">
                        <div class="process-item ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">02</span>
                          <h3>{{content.step_tow_title}}</h3>
                           <p>{{content.step_tow_description}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 order-lg-2 text-center align-self-center">
                        <img class="img-fluid" src="{% get_media_prefix %}{{ content.step_three_photo }}" alt="" width="400" />
                      </div>
                      <div class="col-lg-6 border-lg-start border-lg-bottom py-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
                        <div class="process-item ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">03</span>
                          <h3>{{content.step_three_title}}</h3>
                          <p>{{content.step_three_description}}</p>

                        </div>
                      </div>
                    </div>
                    <div class="row pb-1">
                      <div class="col-lg-6 border-lg-end text-center py-lg-8"><img class="img-fluid" src="{% get_media_prefix %}{{ content.step_four_photo }}" alt="" width="400" /></div>
                      <div class="col-lg-6 align-self-center mt-4 mt-lg-0 mt-lg-8">
                        <div class="process-item process-item-last ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">04</span>
                         <h3>{{content.step_four_title}}</h3>
                           <p>{{content.step_four_description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-0" id="defaultCta1">
              <div class="container">
                <div class="position-absolute overflow-hidden all-0">
                  <div class="bg-holder overlay rounded" style="background-image:url({% get_media_prefix %}{{ content.main_background_image }});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out","delay":0}'></div>
                  <!--/.bg-holder-->
                </div>
                <div class="row justify-content-center text-center py-7">
                  <div class="col-lg-9 position-relative">
                    <h3 class="fs-2 fs-sm-3 text-light">Have you a project to start, and you do not know how ?</h3>
                    <p class="lead fst-italic text-white px-lg-7">Matromatic is always ready to help you and to accompany you throughout the course</p><a class="btn btn-outline-light mt-4 btn-sm border-2" href="#!">Contact Us</a>
                  </div>
                </div>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

            <!-- Our performances begin -->

            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="text-center" id="defaultProgressbar">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <h2 class="fs-3 fs-sm-4 text-decoration-underline mb-3">performance?</h2>
                    <p class="text-500 fst-italic">{{content.performance_intro}}</p>
                  </div>
                </div>
                <div class="row align-items-center mt-6">

                  <div class="col-md-6 position-relative">
                    <div class="progress-circle mb-4" data-progress-circle='{"progress":{{content.performance_record_breaking}},"subText":"<span class=&#39;text-700 pt-2&#39;>{{content.performance_record_detail}}</span>"}'> </div>
                    <h4>Record Breaking in History</h4>
                  </div>

                  <div class="col-md-6 ps-md-7 text-start mt-8 mt-md-0">
                    {% for performance in performances%}
                    <div class="progress-line me-4 mt-4" data-progress-line='{"progress":{{performance.percentage}},"subText":"{{performance.domain}}"}'></div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->
            <!-- Our performances end -->

            <!-- Our clients begin -->
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="overflow-hidden py-0" id="defaultCta2">
              <div class="container">
                <div class="position-absolute overflow-hidden all-0">
                  <div class="bg-holder overlay overlay-2 rounded" style="background-image:url({% get_media_prefix %}{{ content.main_background_image }});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out","delay":0}'></div>
                  <!--/.bg-holder-->
                </div>
                <div class="row flex-center text-center py-8">
                  <div class="col-lg position-relative">
                    <h1 class="mb-0 text-white">{{content.client_count}}</h1>
                    <h6 class="text-300 fs-0">happy customers &amp; counting</h6>
                  </div>

                  <div class="col-lg-7 px-lg-8 mt-6 mt-lg-0 position-relative">
                    <div class="swiper-container theme-slider position-static" data-swiper='{"autoplay":{"delay":3000},"loop":true,"effect":"slide"}'>
                      <div class="swiper-wrapper">
                        {% for client in clients %}
                        <div class="swiper-slide">
                           <div class="hoverbox">
                            <img class="rounded img-fluid" src=" {% get_media_prefix %}{{ client.client_logo}}" alt="" data-zanim-xs='{"animation":"zoom-in""delay":0.1}'>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                      <div class="swiper-nav">
                        <div class="swiper-button-next me-md-5"></div>
                        <div class="swiper-button-prev ms-md-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->
            <!-- Our clients end -->

            <!-- Our partners begin -->
            <!-- <section> begin ============================-->
            <section class="text-center" id="defaultPartners">
              <div class="container">
                  <div class="row flex-center">
                    <div class="col-lg-7 col-xl-6">
                      <h2 class="fs-3 fs-sm-4 text-decoration-underline mb-3">our partners</h2>
                      <p class="text-500 fst-italic">{{content.partners_intro}}</p>
                    </div>
                    <div class="w-100"></div>

                    {% for partner in partners %}
                        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">

                          <div class="hoverbox">
                              <img class="logo-grid" src=" {% get_media_prefix %}{{ partner.partner_logo}}" alt="" data-zanim-xs='{"animation":"zoom-in""delay":0.1}'>
                            </div>

                            <div class="overflow-hidden">
                              <a href="../pages/profile.html">
                                <h5 class="fs-0 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>{{ partner.partner_name}}</h5>
                              </a>
                            </div>

                        </div>
                    {% endfor %}
                </div>
              </div>
              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- Our partners end -->



            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="text-center pt-0 pb-4" id="defaultProjects">
              <div class="container">

                <div class="row">
                  <div class="col-12 mb-3 mb-lg-5">
                    <h2 class="fs-3 fs-sm-4">
                      <span class="text-decoration-underline">Our projects</span></h2>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <p>{{content.projects_intro}}</p>
                      </div>
                    <div class="col-lg-12 mb-4 mb-lg-0">
                      <div class="swiper-container theme-slider" data-swiper='{"spaceBetween":5,"loop":true,"loopedSlides":{{ projects.count}},"thumb":{"spaceBetween":5,"slidesPerView":{{ projects.count}},"loop":true,"freeMode":true,"grabCursor":true,"loopedSlides":{{ projects.count}},"centeredSlides":true,"slideToClickedSlide":true,"watchSlidesVisibility":true,"watchSlidesProgress":true},"slideToClickedSlide":true}'>
                        <div class="swiper-wrapper">
                          {% for project in projects%}
                          <div class="swiper-slide"><img class="img-fluid" src=" {% get_media_prefix %}{{ project.project_photo}}" alt="" /></div>
                          {% endfor %}

                        </div>
                        <div class="swiper-nav">
                          <div class="swiper-button-next"></div>
                          <div class="swiper-button-prev"></div>
                        </div>
                      </div>
                    </div>
                   </div>

                </div>
              </div>

              <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->

          </main>
          <!-- ===============================================-->
          <!--    End of Main Content-->
          <!-- ===============================================-->


          <!--===============================================-->
          <!--    Footer-->
          <!--===============================================-->
          <footer class="footer bg-black text-600 py-4 font-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-4 order-lg-2 position-relative">
                  <a class="indicator indicator-up" href="#top">
                    <span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span>
                    <span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span>
                  </a>
                </div>

                <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
                  <p class="fs--1 text-uppercase ls fw-bold mb-0">COPYRIGHT©  <strong><a class="text-600" href="{{footer.made_by_link}}">{{footer.made_by}}</a></strong></p>
                </div>

              </div>
            </div>
          </footer>

          <!--===============================================-->
          <!--    Modal for language selection-->
          <!--===============================================-->
          <!-- Modal-->
          <div class="overflow-hidden">
            <div class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">
                <div class="modal-content bg-black">
                  <div class="modal-body text-center p-0"><button class="btn-close text-white position-absolute top-0 end-0 times-icon mt-2 me-2 p-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    <ul class="list-unstyled my-0 py-4 font-sans-serif">
                      <li><a class="text-white fw-bold pt-1 d-block" href="../homes/default.html">English</a></li>
                      <li><a class="pt-1 d-block text-500" href="#!">Français</a></li>
                      <li><a class="text-500 pt-1 d-block" href="../pages/rtl.html">عربى</a></li>
                      <li><a class="pt-1 d-block text-500" href="#!">Deutsche</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </body>
    {% endblock %}


